<div class="profile-container">
    <h1>Profil de l'utilisateur</h1>
    <div class="profile-card">
      <div class="profile-info">
        <label>Nom :</label>
        <span>{{user?.firstName}} {{user?.lastName}}</span>
      </div>
      <div class="profile-info">
        <label>Email :</label>
        <span>{{user?.email}}</span>
      </div>
      <div class="profile-info">
        <label>Nom d'utilisateur :</label>
        <span>{{user?.username}}</span>
      </div>
    </div>
  </div>